<%- include('../partials/header') %>
<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i);
</style>
    <main class="page">
      <section class="clean-block clean-hero d-flex justify-content-center" style="color:rgb(0, 0, 0, 0);padding: 10px;">
          <% if(dark){%>
            <div class="text" id="text"style="color:white;">
          <%}else{%>
            <div class="text" id="text"style="color:black;">
          <%}%>
        <h2>Solve all your scheduling problems</h2> 
          <p>CU Class Scheduler simplifies the challenges of finding the perfect schedule.</p>
          <p>Log in to your account and navigate over to the search tab.</p>    
          <p>Search for classes you are interested in for next semester and add up to ten in your cart.</p>    
          <p>The classes can be run against our algorithm to output you all available schedule options with those classes.</p>  
          <img src = "../views/pages/scheduleimage.jpg" />
        </div>
    </section>
         

    </main>
</body>

</html>
